@model List<CloudFileStorage.UI.Models.DTOs.FileMetadataDto>

@{
    ViewData["Title"] = "Dosyalarım";
}

<div class="container mt-5">
    <h2 class="mb-4">Dosya Listesi</h2>

    <a asp-action="Create" class="btn btn-success mb-3">Yeni Dosya Ekle</a>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }

    @await Component.InvokeAsync("FileTable", Model)
</div>
