@model List<CloudFileStorage.UI.Models.DTOs.FileMetadataDto>

@{
    ViewData["Title"] = "Benimle Paylaşılanlar";
}

<div class="container mt-5">
    <h2 class="mb-4">Benimle Paylaşılanlar</h2>
    @await Component.InvokeAsync("SharedFileTable", Model)
</div>
