@model CloudFileStorage.UI.Models.DTOs.UpdateFileDto

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Update" asp-controller="Home" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Dosya Bilgilerini Güncelle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ShareType" class="form-label">Paylaşım Türü</label>
                        <select asp-for="ShareType" class="form-select" id="editShareTypeSelect"
                                asp-items="Html.GetEnumSelectList<CloudFileStorage.Common.Enums.ShareType>()">
                        </select>
                    </div>

                    <div class="mb-3" id="editPermissionContainer" style="display: none;">
                        <label asp-for="Permission" class="form-label">İzin</label>
                        <select asp-for="Permission" class="form-select"
                                asp-items="Html.GetEnumSelectList<CloudFileStorage.Common.Enums.Permission>()">
                        </select>
                    </div>
                    <div class="mb-3" id="specificUserListContainer" style="display: none;">
                        @await Component.InvokeAsync("UserList", new { fileMetadataId = Model.Id })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const shareSelect = document.getElementById('editShareTypeSelect');
    const permissionDiv = document.getElementById('editPermissionContainer');

    function togglePermissionEditModal() {
        const value = shareSelect.value;
        permissionDiv.style.display = value === '1' ? 'block' : 'none'; 
        document.getElementById('specificUserListContainer').style.display = value === '2' ? 'block' : 'none'; 
    }


    if (shareSelect) {
        shareSelect.addEventListener('change', togglePermissionEditModal);
        window.addEventListener('DOMContentLoaded', togglePermissionEditModal);
    }
</script>
