@model CloudFileStorage.UI.Models.LoginViewModel

<h2>Giriş Yap</h2>

<form asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Şifre</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Giriş</button>
</form>

@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}
